body {
margin: 0;
text-align: center;
font-family: 'Montserrat', sans-serif;
}
h1{
    margin: 0px auto 0px auto;
    font-family: 'Reenie Beanie', cursive;
    font-size: 500%;
    
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 2;

}

.skill-row{
    width: 50%;
    margin: auto;
    text-align: left;
  
}
.code{
    width: 25%;
   margin-right: 30px;
   margin-top: 50px;
   padding-bottom: 110px;
    float: left;
}
.stocks{
    width: 25%;
    float: right;
    margin-left: 30px;
    padding-bottom: 70px;
}
.top-container {
    background-color:#08d9d6;
   
   position: relative;
   padding-top: 200px;
  
}

.middle-container{
    
    
}
.bottom-container{
    background-color:#f9e0ae;
    padding-top: 100px;
   
    
    
}

.top-cloud{

    position: absolute;
    top: 100px;
    right: 450px;
}
.bottom-cloud{
    position: absolute;
 

}
.profile{
    border-radius: 100%;
}

.middle-box{
    background-color: #252a34;
    color: cornsilk;
    padding-top: 10px;
    padding-bottom: 40px;
   
    height: 300%;
    
}
.profile-box{
    background-color: #eaeaea;
    padding: 20px;
    margin: 0 auto auto auto;

   
}
.footer-link{
    color: lavender;
}
.intro{
   
    text-align: center;
    width:30%;
    margin:auto;
}
.hello{
    line-height: 0;
}
.footer{
    background-color: #495464;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: lavender;
    font-family: 'Montserrat', sans-serif;
   
}
a{
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#08d9d6 ;
}
.end{
    width:50%;
    margin: 10px auto 60px auto;
}
.btn {
    background: #2d3b45;
    background-image: -webkit-linear-gradient(top, #2d3b45, #4420c7);
    background-image: -moz-linear-gradient(top, #2d3b45, #4420c7);
    background-image: -ms-linear-gradient(top, #2d3b45, #4420c7);
    background-image: -o-linear-gradient(top, #2d3b45, #4420c7);
    background-image: linear-gradient(to bottom, #2d3b45, #4420c7);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .btn:hover {
    background: #376f91;
    background-image: -webkit-linear-gradient(top, #376f91, #1c84c9);
    background-image: -moz-linear-gradient(top, #376f91, #1c84c9);
    background-image: -ms-linear-gradient(top, #376f91, #1c84c9);
    background-image: -o-linear-gradient(top, #376f91, #1c84c9);
    background-image: linear-gradient(to bottom, #376f91, #1c84c9);
    text-decoration: none;
  }
